body
{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#heading
{
    background-color: blueviolet;
}
.box
{
    height: 30rem;
    width: 30rem;
    background-color: aqua;
    margin: 2rem;
}
#button
{
    font-size: 30px;
    padding: .5rem;
    border-radius: 12px;
    background-color: #E08283;
    color:white; 
    display: block;
    margin: 0 auto;   
}