
h2{
    background-color: cadetblue;
}
h3{
    background-color: chartreuse;
}
p
{
    background-color: cornflowerblue;
}
h1
{
   background-color: green;
}
.box1
{
    width: 400px;
    height: 100px;
    background-color: crimson;
    font-size: 30px;
    display: inline-block;
}
.box2
{
    width: 200px;
    height: 200px;
    background-color: gray;
    font-size: 30px;
    display: inline-block;
}