*{
	padding: 0;
	margin: 0;
}

/*section*/
.ABC
{
    height:100vh;
    background-image:linear-gradient(rgba(226, 228, 231, 0),rgba(236, 231, 231, 0)) ,url(images/vernazza-2494779_1280.jpg);
    background-position: center;
    background-size: cover;
   position:relative;

}

/*logo and navbar*/
.header_menu{
	width: 100%;
	height: 5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
/*	border:1px solid red;*/
}
/**********logo************/
.logo{
	width: 20%;
	text-align: center;
	color: #fff;
}

.logo img{
	height: 18.75rem;
}
/**********navbar***********/
.menu_list{
	width: 80%;
	text-align: right;
	padding-right: 3.125rem;
    font-weight: 500;
    font-size: 18px;
}

.menu_list li{
	display: inline-block;
	list-style: none;
	font-weight: 500;
	letter-spacing: 0.12rem;
	padding-left: 3.125rem;
}

.menu_list li a{
	color:#fff;
	text-decoration: none;
}


/*********text**************/

.header_content{
	width: 100%;
	height: 12.5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	color:rgba(255, 255, 255, 0.904);
	transform: translate(-50%, -50%);
	text-align: center;
/*	border:1px solid red;*/
}

.header_content h2{
	
	margin-bottom: 1.125rem;
	font-size: 3.3125rem;
	font-weight: 500;
	letter-spacing: 0.1em;
	font-family: 'Francois One', sans-serif;
	animation:text 3s 1;
}

.header_content h1{
	margin-bottom: 2.122rem;
	font-size: 1.25rem;
	font-weight: 500;
	letter-spacing: 0.1em;
	font-family: 'Girassol', cursive;
}

@keyframes text
{
	0%{
		color: #e84118;
		margin-bottom: -40px;
	}
	30%{
		
		letter-spacing: 25px;
		margin-bottom: 30px;
	}

	85%{
		letter-spacing: 8px;
		margin-bottom: 30px;
	}





}







/**************Button************/
.header_content button{
	height: auto;
	padding:.5rem 2.31rem;
	color:#fff;
	font-size: .75rem;
	background-color: transparent;
	margin-right: 1.25rem;
	border-radius: 0.93rem;
}

.header_content button a{
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-size: 12px;
	

}

.header_content button:hover{
	background-color: rgba(245, 160, 33, 0.322);
	border:0.06rem solid white;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .header_content h1
    {
        font-size: 2rem;
    }
    .header_content h2
    {
        font-size: 3rem;
	}
	

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .header_content h1
    {
        font-size: 1.02rem;
    }
	.header_content h2
    {
        font-size: 2.325rem;
	}
	.menu_list
	{
		width: 100%;
		font-size: 15px;
		text-align: right;
	}
	.menu_list li
	{
	  display: block;
	  width: 100%;
	  text-align: right;
	}
	
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .header_content h1
    {
        font-size: 1.02rem;
    }
    .header_content h2
    {
        font-size:2.325rem;
	}
	.menu_list
	{
		width: 70%;
		font-size: 15px;
		text-align: right;
	}
	.menu_list li
	{
	  display: block;
	  width: 70%;
	  text-align: right;
	}
	

}












