body
{
    font-size: 25px;
    color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.heading
{
    width: 40%;
    height: 30rem;
    background-size: cover;
    background-position: center;
    background-image:linear-gradient(353deg, rgba(212,212,212,1) 0.1%, rgba(110,110,110,0.1936974618949142) 20%), url(img/orthomontri.jpg);
    
    display: flex;
    align-items: flex-end;


}
.main
{
    font-size: 25px;
}
.sub
{
    font-size: 17px;
}
.sec
{
    font-size: 20px ;
    border-left: 5px ridge crimson;
    padding-left: .3rem; 
}
.note
{
margin-left 0.2rem;
}